body {
  background-color: #8C8C8C;
  font-family: Quicksand;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  cursor: url("/shared/cursordef.png"), default;
}

#wladca {
  background-color: #737373;
  width: 1200px;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
}

#container {
  transition: 0.6s;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
}

#obejtekst {
  display: flex;
  align-content: space-between;
  flex-flow: wrap row;
  min-height: 100%;
}

#tresc {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

h1 {
  border-bottom: 1.5px solid #000000;
  font-size: 30px;
}

#obejmenu {}

#menu {
  justify-content: center;
  white-space: nowrap;
  background-color: #5E5E5E;
  transition: 0.6s linear;
  font-size: 30;
  color: #000000;
  border: 2px solid #000000;
  display: flex;
  /* margin-top: 20px; */
}

.option {
  transition: 0.6s;
  padding-left: 10px;
  padding-right: 10px;
  border: 1.5px #000000;
  border-style: hidden dashed hidden hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.option:hover {
  cursor: url("/shared/cursorsel.png"), pointer;
  background-color: #858585;
  box-shadow: 0 0 20px #858585;
  border-left: 1.5px dashed #000000;
  transform: scale(1.1, 1.1);
  text-transform: scale(1.6, 1.6);
  z-index: 3;
}

div#link1 {
  border-left: 1.5px dashed #000000;
}

.option:active {
  transition: 0.6s;
  background-color: #5E5E5E;
  user-select: none;
  cursor: grabbing;
  box-shadow: 2px 8px 40px #5E5E5E;
  transform: scale(1.05, 1.05);
}

#tbarzegar {
  display: flex;
  justify-content: space-between;
}

#zegar {
  cursor: url("http://www.rw-designer.com/cursor-view/28793.png"), auto;
  border-bottom-left-radius: 20px;
  background-color: #525252;
  height: 75px;
  width: 150px;
  border: 2px #000000;
  font-size: 23px;
  border-style: hidden hidden solid solid;
  display: flex;
  padding-right: 20px;
  flex-flow: row wrap;
  align-items: space-around;
  justify-content: flex-end;
}

#zegardata {
  height: 3ex;
  text-align: justify;
  font-weight: 500;
}

#zegarczas {
  font-weight: 500;
  text-align: justify;
  padding-right: 5px;
  padding-top: 7px;
  height: 3ex;
}

#topbar {
  border-bottom-right-radius: 20px;
  height: 70px;
  background-color: #525252;
  z-index: 2;
  opacity: 0.89;
  width: 420px;
  min-width: 420px;
  border: 2px #000000;
  border-style: hidden solid solid hidden;
  display: flex;
  justify-content: space-between;
}

#topbarl {
  padding-left: 20px;
}

#topbarr {
  padding-left: 20px;
}

#obejmenubot {
  z-index: 2;
}

#menubot {
  background-color: #5E5E5E;
  transition: 0.6s;
  font-size: 20;
  color: #000000;
  border: 2px #000000;
  border-style: solid hidden;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.optionbot {
  transition: 0.6s;
  padding-left: 10px;
  padding-right: 10px;
  border: 1.5px #000000;
  border-style: hidden dashed hidden hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.optionbot:hover {
  cursor: url("/shared/cursorsel.png"), pointer;
  background-color: #858585;
  box-shadow: 0 0 20px #858585;
  border-left: 1.5px dashed #000000;
  transform: scale(1.1, 1.1);
  text-transform: scale(1.6, 1.6);
  z-index: 3;
}

div#link1 {
  border-left: 1.5px dashed #000000;
}

.optionbot:active {
  transition: 0.6s;
  background-color: #5E5E5E;
  user-select: none;
  cursor: grabbing;
  box-shadow: 2px 8px 40px #5E5E5E;
  transform: scale(1.05, 1.05);
}

.logopng {
  padding-top: 10px;
  transition: 0.6s;
}

.logopng:hover {
  transform: scale(1.1);
  cursor: url("/shared/cursorsel.png"), pointer;
}

.listctzg {
  padding-left: 60px;
}


.mapapng {
  transition: 0.6s;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
}

.mapapng:hover {
  transform: scale(1.5);
}

.mapapng:active {
  transform: scale(2);
}

#galery1 {
  display: flex;
  justify-content: space-evenly;
}

.endgamegalerypng {
  transition: 0.6s;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
  z-index: 1;
}

#endgame1png:hover {
  transform: translate(30%, -20%) scale(1.2);
  z-index: 4
}

#endgame1png:active {
  transform: translate(30%, -20%) scale(1.5);
  z-index: 5
}

#endgame2png:hover {
  transform: translate(-30%, -20%) scale(1.2);
  z-index: 4
}

#endgame2png:active {
  transform: translate(-30%, -20%) scale(1.5);
  z-index: 5
}

#tekstprzedg1 {
  padding-bottom: 40px
}

#tekstmieg1 {
  padding-top: 35px;
  padding-bottom: 40px;
}

/* Koniec index.html */
/* s1.html */

h2 {
  text-decoration: underline;
}

.column {
  float: left;
  text-align: center;
  width: 15%;
  padding: 10px;
}

.column img {
  transition: 0.6s;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.top {
  display:flex;
  justify-content: center;
}
.top:after {
  content: " ";
  display: table;
  clear: both;
}

.galerytransportfsimg {
  position: relative;
  display: block;
  text-align: center;
}

#fspng {
  height: 0;
  visibility: hidden;
  transition: 0.6s;
  width: 60%;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
}

#tekstpng {
  position: relative;
  padding: 20px;
  margin-left: 15%;
  text-align: left;
}

#beltalt {
  visibility: hidden;
  height:0px;
}

#caralt {
  visibility: hidden;
  height:0px;
}

#trainalt {
  visibility: hidden;
  height:0px;
}

#dronalt {
  visibility: hidden;
  height:0px;
}

#tekstpfs {
  padding-left: 10%;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: auto;
}

.tekstpfs1 {
  padding-bottom:40px;
}
.Labgif1 {

}
.Labgif {
  transition: 0.6s;
  width: 60%;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
  margin-left:20%;
}
.Labgif:hover {
  transform: scale(1.2);
}
.Labgif:active {

}
/* Koniec s1.html */
/* s2.html */

#galerys2 {
  padding-top: 20px;
  padding-left: 50px;
  justify-content: center;
  text-align:center;
}

#OreGif {
  transition: 0.6s;
  border: 2px solid #000000;
  box-shadow: 0 0 30px #000000;
}
#OreGif:hover{
  transform: scale(1.4);
}

.piecgif {
  text-align:center;
  transform: translate(0, -60px);
}


/* Koniec s2.html */
/* s3.html */
#AssemblyGalery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: 0.6s;
  padding-left:10%;
}
#galerybia {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  transition: 0.6s;
}
#bia {
  border: 2px solid #000000;
  box-shadow: 0 0 60px #000000;
  transition: 0.6s;
}
#bia:hover {
  transform: scale(1.3)
}

/* #bia2 {
  border: 2px solid #000000;
  box-shadow: 0 0 60px #000000;
  transition: 0.6s;
}
#bia2:hover{
  transform: scale(1.3)
} */
/* Koniec s3.html */
/* linki i scrollbar */
a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
